body {
  padding: 71px;
}

input:focus::placeholder {
  color: transparent;
}

.city {
  margin-top: .5rem;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
}

.form-row {
  width: 100%;
}

.form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

