body {
  padding: 71px;
}

h2 {
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

label {
  margin-bottom: 0rem;
}

input:focus::placeholder {
  color: transparent;
}

.card-body {
  padding: 1rem;
}

.col-lg,
.col-lg-3,
.col-lg-9 {
  padding-right: 10px;
  padding-left: 10px;
}

.jumbotron {
  padding: 1rem 1rem;
}

.side-card {
  padding-top: 1rem;
}

.list-group-item {
  margin-bottom: 0rem;
  font-weight: 300;
  color: #495057;
}
